NYTimes GitHub: 

~U.S. counties data

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import datetime

In [2]:
# Store filepath in a variable
file_one = "data/us-counties.txt"
us_counties = pd.read_csv(file_one)

In [3]:
us_counties

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
972436  2021-01-27  Sweetwater     Wyoming  56037.0   3428    32.0
972437  2021-01-27       Teton     Wyoming  56039.0   3020     6.0
972438  2021-01-27       Uinta     Wyoming  56041.0   1948    12.0
972439  2021-01-27    Washakie     Wyoming  56043.0    863    25.0
972440  2021-01-27      Weston     Wyoming  56045.0    610     4.0

[972441 rows x 6 columns]

In [4]:
us_counties.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

In [10]:
filter_FL = us_counties.loc[us_counties['state'] == 'Florida', :]
filter_FL

              date        county    state     fips  cases  deaths
411     2020-03-01  Hillsborough  Florida  12057.0      1     0.0
412     2020-03-01       Manatee  Florida  12081.0      1     0.0
440     2020-03-02  Hillsborough  Florida  12057.0      1     0.0
441     2020-03-02       Manatee  Florida  12081.0      1     0.0
474     2020-03-03  Hillsborough  Florida  12057.0      2     0.0
...            ...           ...      ...      ...    ...     ...
969581  2021-01-27       Unknown  Florida      NaN   3321     0.0
969582  2021-01-27       Volusia  Florida  12127.0  29740   528.0
969583  2021-01-27       Wakulla  Florida  12129.0   2892    38.0
969584  2021-01-27        Walton  Florida  12131.0   6164    66.0
969585  2021-01-27    Washington  Florida  12133.0   2393    31.0

[21334 rows x 6 columns]

In [11]:
filter_FL.to_csv(r'output_data/FL_Covid_data.csv', index=False)

In [ ]:
filter_counties = filter_CA.loc[(filter_CA['county'] == 'Los Angeles') & (filter_CA['county'] == 'Los Angeles')

In [ ]:
month = filter_CA.groupby([filter_CA['date'].dt.year.rename('year'), 
                   filter_CA['date'].dt.month_name().rename('month')])['cases'].max().reset_index()

In [ ]:
month

In [ ]:
month = us_counties.groupby([us_counties['date'].dt.year.rename('year'), 
                   us_counties['date'].dt.month_name().rename('month')])['cases'].max().reset_index()

In [ ]:
month

In [ ]:
filter_CA = us_counties.loc[us_counties['state'] == 'California', :]
filter_CA

In [ ]:
months = filter_CA.groupby(filter_CA['date'].dt.strftime('%B'))['cases'].sum().sort_values()

In [ ]:
months

In [ ]:
check = pd.DataFrame(months)
check

In [ ]:
# filter_CA.index = pd.to_datetime(filter_CA['date'], format='%m/%d/%y %I:%M%p')
# filter_CA.grouby(by=[b.index.month, b.index.year])